<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<AsyncLogger name="com.weimob" level="debug" additivity="false"
			includeLocation="false">
			<AppenderRef ref="Console" />
		</AsyncLogger>
		<AsyncRoot level="debug" includeLocation="false">
			<AppenderRef ref="Console" />
		</AsyncRoot>
	</Loggers>
</Configuration>