<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:task="http://www.springframework.org/schema/task" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.2.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <context:annotation-config />
    <aop:aspectj-autoproxy />

    <!-- 跨域设置 -->
    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*" />
    </mvc:cors>

    <!-- 数据源配置 -->
    <bean id="metaDataSource" class="com.weimob.webfwk.util.sql.AbstractDao">
        <constructor-arg index="0" value="classpath:jdbc.properties" />
    </bean>

    <!-- 请求体重复读过滤器 -->
    <bean class="com.weimob.webfwk.gateway.util.HttpContentCachingRequestFilter" />

    <!-- 注解方法处理适配器 -->
    <bean
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

    <!-- 授权配置注册和校验服务 -->
    <bean class="com.weimob.webfwk.state.authority.AuthorityParser" />
    
    <!-- 业务相关组件服务注入 -->
    <context:component-scan base-package="com.weimob.webfwk.gateway" />
    <context:component-scan base-package="com.weimob.webfwk.state.annotation.aspect" />
    
    <!-- 动态配置服务 -->
    <bean id="configBackend" name="configBackend"
        class="com.weimob.webfwk.util.conf.DBConfigBackend">
        <constructor-arg index="0" ref="metaDataSource" />
    </bean>
    <bean id="configService" name="configServiceEX"
        class="com.weimob.webfwk.util.conf.ConfigService">
        <property name="backend" ref="configBackend" />
    </bean>
    <bean id="propertyConfigurer" class="com.weimob.webfwk.util.conf.PropertyPlaceholderLoader">
        <property name="order" value="1" />
        <property name="configService" ref="configService" />
        <property name="baseDataSource" ref="metaDataSource" />
        <property name="propertiesFile" value="weimob-webfwk-gateway.properties" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
    </bean>

    <!-- 数据 JSON 序列化 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.weimob.webfwk.util.context.HttpMessageConverter">
                <constructor-arg name="typeAdapters">
                    <map>
                        <entry key="com.weimob.webfwk.state.annotation.Authority" value="" />
                    </map>
                </constructor-arg>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <!-- 授权拦截器 -->
        <mvc:interceptor>
            <!-- 拦截地址 -->
            <mvc:mapping path="/**" />
            <!-- 排除地址 -->
            <!-- <mvc:exclude-mapping path="/login"/> -->
            <bean class="com.weimob.webfwk.gateway.interceptor.SessionContextInterceptor">
                <constructor-arg index="0" value="Yes" />
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
